<!doctype html>
<html lang="en">
    <div class="container col-md-12 text-center">
        <div class="about-mecol-md-6 py-5 m-auto">
            <h3>About Me:</h3>
            <p class="text-justify text-info py-3">Hi! My name is <strong class="text-warning">Tin Vo</strong>.
                I graduated from Cal State University of Long Beach and I am located in Long Beach. I am currently working as a Senior Software Developer in Test at Blackberry Cylance.
                I have developed many different automation frameworks for Front-End, Back-End, Performance, and Platforms.
                I have a great passion for building automation frameworks, tools, infrastructure, databases, and web services.
            </p>
            <br>
            <br>
            <h3 class="pb-2">Skills:</h3>
            <table class="text-justify text-info table">
                <tr>
                    <td class="text-warning">Programming Languages:</td>
                    <td>Python, Java, Javascript</td>
                </tr>
                <tr>
                    <td class="text-warning">Frameworks:</td>
                    <td>Selenium, Appium, WinAppDriver, J-Unit, TestNG, Cucumber, Gherkin, Spring, RestAssured, Pytest, Unittest, Flask, boto3, Locust, matplotlib, pandas, numpy, Django, Flask</td>
                </tr>
                <tr>
                    <td class="text-warning">Automated/Tested:</td>
                    <td>Android, IOS, Sauce Labs, Windows, Web, API, Performance, Databases, Kafka</td>
                </tr>
                <tr>
                    <td class="text-warning">Databases:</td>
                    <td>NoSQL, MySQL, Couchbase, Oracle, PostGres</td>
                </tr>
                <tr>
                    <td class="text-warning">Tools:</td>
                    <td>AWS (ECS, ECR, EC2, RDS, Batch, API Gateway, Lambda, S3, CloudWatch, Load Balancer), Grafana, jFrog Artifactory, Git, Svn, Bitbucket, Github, Jira, QMetry, Testlink, TestRail</td>
                </tr>
                <tr>
                    <td class="text-warning">OS and CICD Tools:</td>
                    <td>Windows, Linux, Unix, MacOS, Maven, Pypi, Jenkins, Azure Dev-Ops, Docker, Terraform</td>
                </tr>
                <tr>
                    <td class="text-warning">Work Environment:</td>
                    <td>Waterfall, Agile, Scrum, SAFe, TDD, BDD, Mob Programming</td>
                </tr>
                <tr>
                    <td class="text-warning">Misc Skills:</td>
                    <td>Bash, Powershell, Dev-Ops, Swagger, OpenAPI, Codegen</td>
                </tr>
            </table>
            <br>
            <br>
            <br>
            <h3 class="pb-2">Contact:</h3>
            <p class="text-warning">LinkedIn: <a class="text-info" href="http://linkedin.com/in/tin-vo-227115aa">http://linkedin.com/in/tin-vo-227115aa</a></p>
            <p class="text-warning pt-0">Email: <a class="text-info" href="mailto:tintvo08@gmail.com">tintvo08@gmail.com</a></p>
        </div>
    </div>
</html>
