{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-215925053-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-215925053-1');
    </script>
    <style>
        h2 {color: #2B688B; opacity: .8; text-shadow: 2px 2px 4px #000000;}
        label {color: #2B688B;}
    </style>
</head>
    <section class="portfolio-block contact" style="height: 1024px;">
        <div class="container pb-5">
            <div class="heading"><h2>My Stocks API</h2></div>
            <form>
                <div class="form-group"><label>Stocks with Upcoming Earnings</label><a class="form-control item" href="./earnings" target="_blank">Upcoming Earnings</a></div>
                <div class="form-group"><label>Bio-Medical Stocks with Upcoming Catalyst</label><a class="form-control item" href="./phases" target="_blank">Upcoming Catalyst</a></div>
            </form>
        </div>
        <div class="container pt-5">
            <div class="heading"><h2>My QR Codes</h2></div>
            <div class="text-center">
                <label>Daboba Menu (My Boba Tea Shop)</label>
                <div><a href="https://to-da-moon.herokuapp.com/daboba" target="_blank"><img src="{% static 'img/daboba_qr_code.svg' %}" style="width: auto; height: 150px;"></a></div>
            </div>
        </div>
    </section>
</html>