{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-215925053-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-215925053-1');
    </script>
</head>
    <section class="portfolio-block block-intro" style="height: 1024px;">
        <div class="container">
            <div class="avatar" style="background-image:url(&quot;{% static 'img/me1.jpg' %}&quot;);"></div>
            <div class="about-me">
                <p>Hello! My Name is <strong style="color: #2B688B;">Tin Vo</strong>.</p>
                <p>Thanks for taking the time to look at my page</p>
                <a class="btn btn-outline-primary" role="button" href="mailto:tintvo08@gmail.com">Email Me</a>
            </div>
        </div>
    </section>
</html>