{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-215925053-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-215925053-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tin - Portfolio</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <style>
        .my-item,.logo {opacity: .7;}
        .my-item:hover{
            opacity: .2;
            overflow:hidden;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark portfolio-navbar" style="background-image: linear-gradient(to right, #000000, #2B688B);">
        <div class="container"><a class="navbar-brand logo" href="/">Tin Vo</a>
            <div class="dropdown">
                <button data-toggle="dropdown" class="navbar-toggler" data-target="#navbarNav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item my-item"><a class="nav-link active" href="#" id="home">Home</a></li>
                    <li class="nav-item my-item"><a class="nav-link active" href="#" id="app">My Apps</a></li>
                    <li class="nav-item my-item"><a class="nav-link active" href="#" id="aboutme">About Me</a></li>
                    <li class="nav-item my-item"><a class="nav-link active" href="#" id="contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="page landing_page">
      <div class="main_body pb-5">
        <div class="container" id="body">
            <script>
             $(document).ready(function(){
                $('#body').load("/home");
             });
            </script>

            <script>
            $(document).ready(function() {
                $(".nav-link").click(function(event) {
                    if (event.target.id === 'app') {
                        $('#body').load('/app');
                    } else if (event.target.id === 'aboutme') {
                        $('#body').load('/aboutme');
                    } else if (event.target.id === 'contact') {
                        $('#body').load('/contact');
                    } else {
                        $('#body').load('/home');
                    }
                });
            });
            </script>
        </div>
      </div>
    </main>

    <footer class="page-footer py-4 bg-dark text-white" style="background-image: linear-gradient(to right, #000000, #2B688B)">
        <div class="footer-copyright">
        <small>Copyright&copy; Tin Vo</small>
        </div>
    </footer>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</body>

</html>