<!doctype html>
<html lang="en">
    <div class="album py-5">
    <div class="container bg-dark">
    <h1 class="text-white text-center"> PHASES </h1>
    <table class="table table-bordered table-dark">
    <thead>
    <tr>
        <th scope="col" colspan="2">Dates</th>
        <th scope="col" colspan="2">Ticker</th>
        <th scope="col" colspan="2">Price</th>
        <th scope="col" colspan="2">Phase</th>
        <th scope="col" colspan="2">Link</th>
        <th scope="col" colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for dates, list in phases.items %}
    <tr>
        <td scope="col" colspan="2">{{ dates }}</td>
        {% for stock in list %}
            {% for data in stock %}
                <td scope="row" colspan="2">
                {{ data }}
                </td>
            {% endfor %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
</html>
