<!doctype html>
<html lang="en">
    <div class="album py-3">
        <div class="container bg-dark">
            <h1 class="text-white text-center py-3"> Search For Stock Info </h1>
            <nav class="navbar navbar-light text-center">
            <form class="form-inline md-form mx-lg-auto mb-4 pb-3" id="contact-form">
              <input class="form-control mr-sm-2" type="text" placeholder="Ticker (ex: tsla)" id="input-ticker">
              <button class="btn aqua-gradient btn-rounded btn-sm my-0 text-white bg-primary" type="submit" value="Search">Search</button>
            </form>
            </nav>
            <div class="news"></div>
            <div class="tweets"></div>
            <script>
            $(document).ready(function() {
                $("#contact-form").submit(function(event) {
                    event.preventDefault();
                    var param = $('#input-ticker').val();
                    $.ajax({
                        url: "https://t-trade-api.herokuapp.com/t_trade/info/" + param,
                        headers: {"api-key": "{{ key.key }}"},
                        type: "GET",
                        contentType: 'application/json; charset=utf-8',
                        processData: true,
                        success : function(data){
                            news = data.news;
                            var news_date_html =''
                            var news_dates = Object.keys(news);
                            tweets = data.tweets;
                            var tweets_date_html = '';
                            var tweet_dates = Object.keys(tweets);
                            for (var i=news_dates.length-1; i>news_dates.length-4; i--){
                                if (i<0){
                                    break;
                                }
                                var news_date = news_dates[i];
                                var news_data = news[news_date];
                                var news_data_html = ''
                                var tweet_date = tweet_dates[i];
                                var tweets_data = tweets[tweet_date];
                                var tweets_data_html = '';
                                var counter = 0;

                                news_data.forEach(function (info){
                                    var title = info.title;
                                    var link = info.link;
                                    news_data_html += '<a class=\'text-warning\' href=\'' + link + '\'>' + title + '</a><br/><br/>';
                                });
                                news_date_html += '<p class=\'text-info\'>' + news_date + '</p>' + news_data_html + '<br/>';

                                for (const [user, value] of Object.entries(tweets_data)){
                                    tweets_data_html += '<p class=\'text-success\'>' + user + ': ' + '<span class=\'text-warning\'>' + value + '</span></p>';
                                    counter += 1;
                                    if (counter >=16){
                                        break;
                                    }
                                }
                                tweets_date_html += '<p class=\'text-info\'>' + tweet_date + '</p>' + tweets_data_html + '<br/>';
                            }
                            var news = '<h1 class=\'text-white text-center\'> News </h1><hr>' + news_date_html + '<br/><br/>'
                            var tweets = '<h1 class=\'text-white text-center\'> Tweets </h1><hr>' + tweets_date_html + '<br/><br/>'
                            $('.news').append(news);
                            $('.tweets').append(tweets);
                        },
                        error: function(){alert('Error!')}
                    })
                });
            });
            </script>
        </div>
    </div>
</html>
